
DF_APP_ID = Add APP ID Here
DF_TENANT_ID = Add Tenant ID Here
DF_API_URL = Add API URL Here
DF_AppEnvironmentCODE = Add App Environment Code Here
PUBLIC_API_BASE_URL = Add PUBLIC API BASE URL 
PUBLIC_MENU_LOCATION = Add Menu Location Here